.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	button {
		align-self: start;
	}

	form {
		label {
			font-family: Poppins;
			font-weight: bold;
			font-size: 12px;
		}
		input {
			width: 70%;
			height: 44px;
			padding-left: 16px;
			font-family: Poppins;
			font-size: 16px;
			background: #f3f4f6ff;
			border-radius: 6px;
			border: none;
		}
	}

	.upper-part {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;

		.add-training {
			width: 400px;

			button {
				margin: 20px 0px;
				height: 44px;
				padding: 0 16px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: Poppins; /* Body */
				font-size: 16px;
				font-weight: 400;
				line-height: 26px;
				color: #ffffffff; /* white */
				background: #60cfa5ff; /* tertiary3-500 */
				opacity: 1;
				border: none;
				border-radius: 6px; /* border-m */
			}
		}

		.date-picker {
			form {
				display: flex;
				flex-direction: row;
				width: 400px;
			}
		}
	}
}

.passed-trainings {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 40px;
}
