.blog-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		font-family: Montserrat;
		margin: 20px;
		font-size: 56px;
	}

	img {
		margin: 40px;
	}
}
